@charset "UTF-8";

//全局变量，一般用来设置通用单位，只用来被其它scss引用！
//为了更高效的开发维护，尽量使用通用单位！

$allColor:#1055f1;

$bg:#fff;
$bgColor: #efeff4;

$borderColor: #dddddd;

$btnColor : #ff6350;

$footerTextColor: #202020;
$color3 : #333;
